{% extends 'back.html' %}

{% block title %}Lista Înregistrări{% endblock %}

{% block content %}
<h1>Toate înregistrările medicale</h1>

<form method="get">
    <input type="text" name="q" placeholder="Caută pacient" value="{{ query }}">
    <select name="studiu">
      <option value="">Toate studiile</option>
      {% for s in studii %}
        <option value="{{ s.id }}" {% if s.id|stringformat:"s" == selected_studiu %}selected{% endif %}>
          {{ s.titlu }}
        </option>
      {% endfor %}
    </select>
    <button type="submit">Filtrează</button>
  </form>
  

<ul>
    {% for inregistrare in inregistrari %}
        <li>
            {{ inregistrare.pacient }} – {{ inregistrare.studiu }}<br>
            {{ inregistrare.data_inregistrarii }}<br>
            Observații: {{ inregistrare.observatii }}<br>
            <a href="{% url 'editeaza_inregistrare' inregistrare.id %}">✏️ Editează</a>
        </li>
    {% empty %}
        <li>Nu există înregistrări.</li>
    {% endfor %}
</ul>

<a href="{% url 'adauga_inregistrare' %}">Adaugă o înregistrare</a>
{% endblock %}
