{% extends 'back.html' %}

{% block title %}Lista Studii{% endblock %}

{% block content %}
<h2>Lista studiilor clinice</h2>

<form method="get">
  <input type="text" name="q" placeholder="Caută după titlu" value="{{ query }}">

  <input type="number" name="min" placeholder="Nr. minim pacienți" value="{{ min_pacienti }}">

  <select name="status">
      <option value="">Toate</option>
      <option value="active" {% if status_filter == 'active' %}selected{% endif %}>Active</option>
      <option value="finalizate" {% if status_filter == 'finalizate' %}selected{% endif %}>Finalizate</option>
  </select>

  <button type="submit">Filtrează</button>
</form>


<ul>
  {% for studiu in studii %}
    <li>
      <strong>{{ studiu.titlu }}</strong><br>
      Început: {{ studiu.data_inceput }}{% if studiu.data_sfarsit %} – Sfârșit: {{ studiu.data_sfarsit }}{% endif %}<br>
      Descriere: {{ studiu.descriere }}<br>
      Pacienți: {{ studiu.num_pacienti }}<br>
      <a href="{% url 'editeaza_studiu' studiu.id %}">✏️ Editează</a>
    </li>
  {% empty %}
    <li>Nu există studii înregistrate.</li>
  {% endfor %}
</ul>

<a href="{% url 'adauga_studiu' %}">Adaugă studiu nou</a>
{% endblock %}
